body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ADD8E6, #D8BFD8);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

header {
  background-color: #FFD700;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

#quotes,
#music-player {
  width: 80%; /* Adjust as needed */
  margin: 2rem 0;
  text-align: center;
}
